<form action="/insert" method="get">
	<input type="text" name="c">
	<input type="number" name="reps">
	<input type="number" name="weight">
	<input type="date" name="date">
	<select name="lbs">
		<option value="0">metric</option>
		<option value="1">imperial</option>
	</select></p>
	<button>Add Exercise</button>
</form>


<h2>Workouts</h2>
<p>{{results}}</p>
{{#if results}}
<table>
	<tr>
		<td>Workouts</td>
	</tr>
	<tr>
		<td>Name</td>
		<td>Reps</td>
		<td>Weight</td>
		<td>Date</td>
		<td>LBs</td>
	</tr>
  {{#each results}}
  <tr>
  	<td>test</td>
    <td>{{results.name}}</td>
	<td>{{results.reps}}</td>
	<td>{{results.weight}}</td>
	<td>{{results.date}}</td>
	<td>{{results.lbs}}</td>
    <form method="post">
      <input type="hidden" name="id" value="{{results.id}}">
      <input type="submit" name="Done" value="Mark as Done">
    </form>
  </tr>
  {{/each}}
</table>
{{/if}}
