<form action="/updated" method="get">
	<input type="text" name="c" value="{{dataList .name}}">
	<input type="number" name="reps" value="{{dataList .reps}}">
	<input type="number" name="weight" value="{{dataList .weight}}">
	<input type="date" name="date" value="{{dataList .date}}">
	<select name="lbs" value="{{dataList .lbs}}">
		<option value="0">metric</option>
		<option value="1">imperial</option>
	</select>
	<button>Update</button>
</form>
